body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
.wrap {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.clock-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock {
  display: block;
  object-fit: cover;
  height: 100%;
}
.arrow {
  position: absolute;
}
