body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
.wrap {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.changes {
  width: 100%;
  height: 110px;
  object-fit: contain;
  padding-top: 20px;
}
.clock-wrap {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.arrow {
  position: absolute;
}
